{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "stage-0",
    "react"
  ],
  "rules": [
    {
      "react/prop-types": 0
    }
  ],
  "plugins": [
    "react-hot-loader/babel"
  ]
}
